.ActionButton {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	height: 51px;

	border: none;
	cursor: pointer;

	transition: box-shadow 0.12s ease-out;
}
/* Has Text Content */
.ActionButton--content {
	width: 111px;
}
.ActionButton [data-icon-name] {
	font-size: 30px;
	color: var(--real-orange);
}
.ActionButton [data-icon-name='Back']:not(:last-child) {
	margin-right: 15px;
}

/* ROUND */
.ActionButton--round:focus {
	outline: none;
	box-shadow: 0 0 0 1px var(--real-orange);
}
.ActionButton--round {
	background: var(--light-orange);

	border-radius: 26px;
	box-shadow: var(--orange-shadow) 0 5px 7px 0;
}

/* FLAT */
.ActionButton--flat {
	background: transparent;
}
.ActionButton--flat:focus {
	outline: none;
}
.ActionButton--flat:focus span {
	text-decoration: underline;
}

/* BOLD */
.ActionButton--bold-pink {
	background: var(--real-pink);
	box-shadow: var(--pink-shadow);
}
.ActionButton--bold-pink [data-icon-name] {
	color: var(--light-pink);
}
.ActionButton--bold-orange {
	background: var(--real-orange);
	box-shadow: var(--orange-shadow);
}
.ActionButton--bold-orange [data-icon-name] {
	color: var(--light-orange);
}
