.page-enter .auth-page h1 {
  transform: translateX(10rem);
}
.page-enter-active .auth-page h1 {
  transform: translateX(0);
  transition: transform 300ms ease;
}
.page-exit .auth-page h1 {
  transform: translateX(0);
}
.page-exit-active .auth-page h1 {
  transform: translateX(-10rem);
  transition: transform 300ms ease;
}

.page-enter .auth-page button {
  transform: translateX(-10rem);
}
.page-enter-active .auth-page button {
  transform: translateX(0);
  transition: transform 300ms ease;
}
.page-exit .auth-page button {
  transform: translateX(0);
}
.page-exit-active .auth-page button {
  transform: translateX(10rem);
  transition: transform 300ms ease;
}
