.Dialog {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	overflow-y: auto;
	width: calc(100vw - 18px * 4);
	max-width: 30rem;
	max-height: calc(100vh - 80px);
	padding: 19px 18px;

	background-color: var(--light);

	border-radius: 7px;
	box-shadow: 0px 2px 5px 0px var(--orange-shadow);
}

.TourDialog {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	max-width: calc(100vw - (18px * 2) - 10px);
	padding: 19px 18px;

	background-color: var(--light);

	border-radius: 7px;
	box-shadow: 0px 2px 5px 0px var(--orange-shadow);
}
.TourDialog[hidden] {
	display: none;
}
.TourDialog .Dialog__action {
	min-width: 80px;
	padding-left: 0;
	padding-right: 0;
}

.Dialog:focus {
	outline: none;
}

.Dialog__overlay {
	background-color: var(--dialog-overlay);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	z-index: 99;
}

.Dialog__title {
	margin: 0px 0px 12px;
}

.Dialog__action-bar {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.Dialog__action {
	min-width: 126px;
	height: 45px;

	font-size: 18px;

	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.Dialog__action--primary {
	color: var(--light);
	background-color: var(--real-orange);
	/* TODO: box-shadow: IDK? */
}

.Dialog__action--secondary {
	color: var(--real-orange);
	background-color: transparent;
}

.Dialog__action--tertiary {
	color: var(--real-pink);
	background-color: transparent;
	border: solid 2px var(--real-pink);
}
